# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vscode
/AHBD.code-workspace
ahbd_draw/build/
/ahbd_draw/bin
/compile_commands.json
/.clang-format
/ahbd_draw/.cache
/AHBD.zip